body{
    background-color: blueviolet;
    color: aqua;
}
button{
    color: rgb(222, 233, 203);
    background-color: blue;
    text-align: center;
}
p{
    color: #08eb32;
    background-color: black;
    text-shadow: 6cap;
    border: 0cqh;
}