body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(16, 205, 230, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #010107;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    background-color: #f0149c;
    color: #f5f4f8;
    font-family: fantasy;

}

/* Style changes on scroll */
nav.scrolled {
    background-color: #efbb10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style changes on hover */
nav li a:hover,
nav li a.active {
    background-color: #25ed6b;
    color: #000009;
    font-family: fantasy;
}

.content {
    height: 1600px; /* Just for testing scrolling */
}
